.item-container{
    margin: 20px 10px;
}
.items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.item{
    width: 290px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-image{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.item:hover .item-image{
    opacity: 0.7;
}

.item-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}
.item-name{
    margin: 0;
}
.item-addCard{
    width: auto;
    height:inherit;
    box-sizing: border-box;
    padding-bottom: 50px;
    opacity: 0;
    /* background-color: black; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    transition: all 0.3s ease-in-out;
}
.item:hover .item-addCard{
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
Button{
    opacity: 0.8;
}
Button:hover{
    opacity: 1;
}

@media screen and (max-width:1000px) {
    .items{
        justify-content: center;
    }
    .collection-title{
        text-align: center;
    }
    .item{
        margin: 0 10px;
    }
}