.navBar{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    background-color: white;
    opacity: 0.9;
    z-index: 10;
    padding: 10px 0px;
}
.navBar:hover{
    opacity: 1;
}
.navBar-links{
    display: flex;
    align-items: center;
}
.navBar-logo{
    width: 90px;
    transition: all 0.5s ease-in-out;
}

.navBar-links> a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 10px;
}
.signInandOut{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.signInandOut > a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;

}
@media screen and (max-width:1000px) {
    .navBar-logo{
        width: 50px;
    }
    .navBar-links> a,.signInandOut > a,.signInandOut{
        font-size: 10px;
        transition: all 0.5s ease-in-out;
        margin: 3px;
    }
    .App{
        padding: 10px 10px;
    }
}