.menu-item{
    height: 240px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 20px 10px;
    margin-bottom: 5px;
    overflow: hidden;
}
.background-image{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease-in-out;
}
.label{
    padding: 30px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    opacity: 0.7;
    position: absolute;
}
.menu-item:hover > .background-image{
    cursor: pointer;
    transform: scale(1.1);
}
.menu-item:hover > .label{
    opacity: 1;
}

.show{
    opacity: 1;
}

h2{
    margin-top: 0;
    margin-bottom: 8px;
}
.auto{
    width: 611px;
}
.large{
    height:  380px;
}

@media screen and (max-width:800px) {
    .auto{
        width:400px
    }
}